@import "./variables";

.container {
    font-size: $md-font;
    background: url("../../assets/img/bg-intro-desktop.png") $clr-primary;
    color: $clr-neutral;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;

    .content {
        max-width: 57.2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2.4rem;

        // Form-head shadow
        .outer-shadow {
            box-shadow: 0 8px 0 rgba(0, 0, 0, 0.2);
        }

        &--left {
            max-width: 40vw;
        }

        .title {
            font-size: $xl-font;
            line-height: 1.2;
        }

        .text {
            font-size: $md-font;
        }

        .form-head {
            background-color: $clr-accent;
            margin: 2.4rem auto;
            padding: 1.6rem;
            text-align: center;
            font-size: $md-font;
            width: 100%;
            border-radius: 0.8rem;
        }
    }
}

// Responsive
@media (max-width: 1260px) {
    html,
    body {
        overflow: auto;
    }

    .container {
        flex-direction: column;
        text-align: center;
        background: url("../../assets/img/bg-intro-mobile.png") $clr-primary;
        gap: 0;

        .content {
            min-width: 30rem;
            max-width: 56rem;

            .title {
                font-size: $lg-font;
            }
        }

        &--left {
            max-width: 48rem;
        }
    }
}

// ATTRIBUTION

.attribution {
    text-align: center;
    font-size: $sm-font;
    color: $clr-neutral;
    margin-bottom: 0.8rem;

    & a {
        color: $clr-accent;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
