@import './variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%; // Makes 1rem = 10px
    font-family: 'Poppins', sans-serif;
    letter-spacing: .1rem;
    background-color: $clr-primary;
    overflow: hidden;
}