// Colors
$clr-primary: hsl(0, 100%, 74%);
$clr-primary2: hsl(154, 59%, 51%);
$clr-accent: hsl(248, 32%, 49%);
$clr-neutral: hsl(0, 0%, 100%);
$clr-dark-neutral: hsl(249, 10%, 26%);
$clr-light-neutral: hsl(246, 25%, 77%);

// Default Font Family
$ff: 'Poppins', sans serif;

// Font sizes
$xs-font: 1rem;
$sm-font: 1.2rem;
$md-font: 1.6rem;
$lg-font: 3.6rem;
$xl-font: 4.8rem;